---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Sept 2024 - Dec 2024",
    title: "Flutter Developer",
    company: "MSA Software",
    description:
      "Built mobile-first apps to streamline workflows, integrated Firebase for authentication, and improved app performance using Riverpod.",
  },
  {
    date: "Jan 2024 - Aug 2024",
    title: "Application Developer",
    company: "ERK LABS",
    description:
      "Developed a social media app for professionals, implemented secure login with Firebase, and optimized backend communication with gRPC.",
  },
  {
    date: "Oct 2023 - Dec 2023",
    title: "Flutter Developer Intern",
    company: "ERK LABS",
    description:
      "Enhanced CRM app performance, created reusable Flutter components, and explored modern Flutter features like null safety.",
  },
  {
    date: "Aug 2023 - Aug 2024",
    title: "GDSC Flutter Lead",
    company: "Google Developer Student Club",
    description:
      "Conducted workshops on Flutter, mentored students in cross-platform development, and built a vibrant coding community.",
  },
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
